{% extends "main/base.html" %}

{% block title %}{{ site.nom }}{% endblock %}

{% block extra_css %}
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>

<style>
    #map {
        height: 400px;
        width: 100%;
        margin-top: 1rem;
        border-radius: 8px;
    }
</style>
{% endblock %}

{% block content %}

<a href="{% url 'home' %}">← Retour</a>

<h1>{{ site.nom }}</h1>

<p><strong>Adresse :</strong> {{ site.adresse }}, {{ site.commune }}</p>

{% if site.url_image %}
    <img
        src="{{ site.url_image }}"
        alt="{{ site.nom }}"
        style="width:100%; max-height:400px; object-fit:cover; border-radius:8px;"
    >
{% endif %}

{% if site.description %}
<h2>Description</h2>
<p>{{ site.description }}</p>
{% endif %}

{% if site.latitude and site.longitude %}
<h2>Localisation</h2>
<div id="map"></div>
{% endif %}

{% endblock %}

{% block extra_js %}
{% if site.latitude and site.longitude %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
    const lat = {{ site.latitude }};
    const lon = {{ site.longitude }};

    const map = L.map('map').setView([lat, lon], 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    L.marker([lat, lon])
        .addTo(map)
        .bindPopup("{{ site.nom|escapejs }}");
</script>
{% endif %}
{% endblock %}
